html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
}

.content {
  width:100%;
  flex:1;
  .TabNav {
    width: 100%;
    height: .86rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: skyblue;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    div {
      width:25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span{
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        right:0;
        z-index:999;
        line-height: .86rem;
        text-align: center;
      }
    }
  }
}
.Tabactive{
  background: skyblue;
  color:#fff;
}
.Tabactive::after{
  content:"";
  width:0px;
   height:.86rem; 
   position:absolute; 
   box-sizing:border-box;
   right:-6px;
   background: white;
  border-top: .43rem solid transparent;
  border-left: 16px solid skyblue;
  border-bottom: .43rem solid transparent;
  z-index:9;
}
.Tabactive::before{
  content:"";
  width:0px; 
  height:.86rem; 
  position:absolute; 
  box-sizing:border-box;
  background: white;
  left:-16px; 
  background:skyblue;
  border-top: .43rem solid transparent;
  border-left: 16px solid #fff;
  border-bottom: .43rem solid transparent;
  z-index:9;
}