.dingdan{
  padding-bottom:1rem;
  .swiper{
    width:100%;
    height:2.2rem;
    background: green;
    color:#fff;
    font-size:40px;
  }
  .camera{
    width:100%;
    height:3rem;
    border-bottom: 12px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding-top:.2rem;
    box-sizing: border-box;
    .camera_one{
      width:25%;
      height:100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding:.2rem .1rem;
      box-sizing: border-box;
      i.icon{
        font-size:.8rem;
      }
      p{
        padding:0 .1rem;
        line-height: .38rem;
      }
    }
  }
  .list{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    padding:0 .2rem;
    box-sizing: border-box;
    border-bottom: 12px solid #ddd;
    font-size:.32rem;
    .list_one{
      width:100%;
      height:1rem;
      border-bottom: 1px solid #aaa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .right{
        span{
          display: inline-block;
          color:#aaa;
          font-size: .28rem;
          flex:1;
          height:100%;
          border:0;
          &.active{
            color: green;
            font-size: .32rem;
            text-align: right;
          }
        }
        b{
          color:red;
        }
      }
    }
  }
  .lists{
    width:100%;
    height:auto;
    padding:0 .2rem;
    box-sizing: border-box;
    .lists_vip{
      width:100%;
      height:1.2rem;
      border-bottom: 1px solid #aaa;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left{
        margin:0;
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .span1{
          font-weight: 800px;
          font-size: .36rem;
        }
        .span2{
          color:#aaa;
        }
      }
      .right{
        .span1{
          color:#aaa;
          text-decoration: line-through ;
        }
        .span2{
          font-size: .4rem;
          color:red;
        }
      }
    }
    .lists_marny{
      width:100%;
      height:1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .end{
    width:100%;
    height:3rem;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .p1{
      width:100%;
      height:.8rem;
      line-height: .8rem;
      text-align: center;
      a{
        color:blue;
      }
    }
    .p2{
      width:100%;
      flex:1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding:0 .3rem;
      box-sizing: border-box;
      i{
        border:3px solid white;
        padding:.05rem .1rem;
        box-sizing: border-box;
        border-radius: 50%;
      }
      i.icon{
        font-size:.8rem;
        color: darkgreen;
      }
    }
  }
  .mint-actionsheet{
    width:94%;
  }
  .mint-swipe-item{
    width:100%;
    height:auto;
    img{
      width:100%;
      height:auto;
    }
  }
  .mint-popup {
    width:100%;
  }
  .picker-slot {
    background: #ddd;
  }
  .writecity_head{
    background: #eee;
    width:100%;
    height:.8rem;
    display: flex;
    padding:0 .2rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    span{
      color:blue;
      font-size: .3rem;
      width:.6rem;
    }
    h3{
      font-size: .34rem;
    }
  }
  .usi-btn-sure{
    height:.8rem;
    text-align: end;
    padding:0 .2rem;
    box-sizing: border-box;
    color:blue;
    line-height: .8rem;
    font-size:.3rem;
    background: #eee;
  }
  .foot{
    width:100%;
    height:1rem;
    border:1px solid #aaa;
    display: flex;
    position: fixed;
    left:0;
    bottom:0;
    background: #fff;
    font-size:.34rem;
    .right{
      width:2.6rem;
      height:100%;
      text-align: center;
      line-height: 1rem;
      background: #aaa;
      color:white;
    }
    .left{
      flex:1;
      height:100%;
      line-height: 1rem;
      b{
        color:red;
        margin-left:.3rem;
      }
    }
  }
}
.pic_mask{
  background: white;
  width:100%;
  height:260px;
  position: fixed;
  left:0;
  top:2rem;
  z-index:99999;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    height:100%;
    width:auto;
  }
}
.picker{
  width:100%;
  padding:0 .4rem;
  box-sizing: border-box;
}
.mint-popup{
  background: #ddd;
}
.mint-actionsheet-listitem,.mint-actionsheet-button,{
  letter-spacing:.3rem;
  text-indent:.15rem;
}
.van-picker__toolbar{
  background: #eee;
}